.landingPageText {
	position: absolute;
	left: 19%;
	top: 45%;
}

#downIconHover:hover {
    color: #5ab96c;
    opacity: 1 !important;
}

.landingPageName{
	margin-top: -32% !important;
    padding-bottom: 16% !important;
}

.extraLargeFont {
	font-size: 5em !important;
}

.landingPageArrowButton {
	position: absolute;
	left: 42%;
	top: 65%;
}

.greenMenuText {
	color: #5ab96c !important;
}
